@page "/fb/recent"
@using System.Text

@inject IHttpContextAccessor HttpContextAccessor
@inject NavigationManager NavMan
@inject IDbContextFactory<ApplicationDbContext> DbContextFactory
@inject RootEpisodeCache RootEpisodeCache
@inject IOptionsMonitor<FictionBranchesOptions> FbConfig

@if (itemNotFound != null)
{
    <NotFound Item="@itemNotFound" />
}
else
{
    <PageTitle>@pageTitle</PageTitle>
    <h1>@pageTitle</h1>
    <p>
        Filter by tag:<span>&nbsp;</span>
        @if (!string.IsNullOrWhiteSpace(Tag))
        {
            <a href="@($"/fb/recent{(Story == null ? "" : $"?story={Story}")}")">Unselect</a><span>&nbsp;</span>
        }
        <TagListDisplay SelectedTagShortName="@Tag" Tags="Tags" Story="@Story?.ToString()"/>
    </p>
    
    <p>
        <PrevNextSelector CurrentPage="currentPage" TotalPages="totalPages" GetLinkToPage="GetLinkToPage" />
    </p>
    
    <p><a href="@GetOldestNewestLink()">@(Reverse == null ? "Old" : "New")est episodes</a></p>
    
    <hr/>
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Episode</th>
                <th scope="col">Author</th>
                <th scope="col">Date</th>
                @if (root == null)
                {
                    <th scope="col">Story</th>
                }
                <th scope="col">Depth</th>
                <th scope="col">Tags</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var episode in recents)
            {
                <tr>
                    <td><EpisodeLink Episode="episode" ShowTitleIfDifferent="true"></EpisodeLink></td>
                    <td><a href="/fb/user/@episode.Author!.Id">@episode.Author.Author</a></td>
                    <td>@episode.Date</td>
                    @if (root == null)
                    {
                        <td><a href="@($"/fb/story/{RootEpisodeCache.GetEpisodeFromNewMap(episode.Newmap)?.Generatedid}")">@RootEpisodeCache.GetEpisodeFromNewMap(episode.Newmap)?.Link</a></td>
                    }
                    <td>@episode.Newmap?.Split('B')?.Length</td>
                    <td><TagListDisplay Tags="episode.Fbepisodetags!.Select(e => e.Tag)"></TagListDisplay></td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    [SupplyParameterFromQuery]
    public long? Story { get; init; }
    
    [SupplyParameterFromQuery]
    public int? Page { get; set; }
    
    [SupplyParameterFromQuery]
    public string? Reverse { get; init; }

    [SupplyParameterFromQuery]
    public string? Tag { get; init; }
    
    private Fbepisode? root;

    private IEnumerable<Fbtag> Tags = [];

    private string pageTitle => root == null ? "Recent episodes" : $"Recent episodes for \"{root.Link}\"";

    private IEnumerable<Fbepisode>? recents;

    private int actualPage = 0;
    private int currentPage => actualPage + 1;
    private int totalPages = 0;

    private string? itemNotFound = null;
    
    protected override void OnInitialized()
    {
        base.OnInitialized();

        var db = DbContextFactory.CreateDbContext();

        Tags = db.Fbtags.OrderBy(e => e.Shortname).ToList();
        
        if (Story != null)
        {
            root = RootEpisodeCache.GetEpisode(Story.Value);
            if (root == null)
            {
                itemNotFound = Story.ToString();
                return;
            }
        }

        if (Page != null)
            actualPage = Page.Value - 1;

        Func<IQueryable<Fbepisode>, IQueryable<Fbepisode>> storyWhereClause = query => query;
        if (root != null)
            storyWhereClause = query => query.Where(e => e.Newmap.StartsWith("A" + root.Generatedid + "B"));

        Func<IQueryable<Fbepisode>, IQueryable<Fbepisode>> tagWhereClause = query => query;
        if (!string.IsNullOrWhiteSpace(Tag))
        {
            var tag = db.Fbtags.Where(e => e.Shortname.ToLower().Equals(Tag.ToLower())).FirstOrDefault();
            if (tag == null)
            {
                itemNotFound = Tag;
                return;
            }
            tagWhereClause = query => query.Where(e => e.Fbepisodetags.Any(epTag => epTag.Tag.Id == tag.Id));
        }
        
        Func<IQueryable<Fbepisode>, IQueryable<Fbepisode>> orderByClause =
            Reverse == null ? 
                query => query.OrderByDescending(e => e.Date) : 
                query => query.OrderBy(e => e.Date);

        Func<IQueryable<Fbepisode>, IQueryable<Fbepisode>> whereClause = query => tagWhereClause(storyWhereClause(query));

        Func<IQueryable<Fbepisode>, IQueryable<Fbepisode>> countIncludeClause = query => query
            .Include(e => e.Fbepisodetags.OrderBy(tag => tag.Tag.Shortname))
            .ThenInclude(e => e.Tag);

        
        var totalEpisodes = whereClause(db.Fbepisodes).Count();
        (totalPages, var extraPages) = Math.DivRem(totalEpisodes, FbConfig.CurrentValue.PageSize);
        if (extraPages > 0)
            ++totalPages;

        if (totalPages == 0)
        {
            itemNotFound = "";
            return;
        }

        if (currentPage > totalPages)
        {
            itemNotFound = currentPage.ToString();
            return;
        }
        
        recents = orderByClause(countIncludeClause(whereClause(db.Fbepisodes)))
            .Include(e => e.Author)
            .Skip(FbConfig.CurrentValue.PageSize * actualPage)
            .Take(FbConfig.CurrentValue.PageSize)
            .ToList();
    }
    
    private string GetLinkToPage(int itemPage)
    {
        Dictionary<string, object?> query = [];
        query.Add("page", itemPage);
        if (Reverse != null)
            query.Add("reverse", null);
        if ((Story ?? 0) != 0)
            query.Add("story", Story);
        if (!string.IsNullOrWhiteSpace(Tag))
            query.Add("tag", Tag);
        return $"{HttpContextAccessor?.HttpContext?.Request.Path}{query.ToQueryString()}";
    }

    private string GetOldestNewestLink()
    {
        Dictionary<string, object?> query = [];
        if (Reverse == null)
            query.Add("reverse", null);
        if ((Story ?? 0) != 0)
            query.Add("story", Story);
        if (!string.IsNullOrWhiteSpace(Tag))
            query.Add("tag", Tag);
        return $"{HttpContextAccessor?.HttpContext?.Request.Path}{query.ToQueryString()}";
    }
}