@page "/fb/story/{GeneratedId:long}"

@inject NavigationManager NavMan
@inject IDbContextFactory<ApplicationDbContext> DbContextFactory

@if (episode is null)
{
    <NotFound Item="@GeneratedId.ToString()" />
}
else
{
    <PageTitle>@episode.Title</PageTitle>
    <h1>@episode.Title</h1>
    
    <p>
        <a href="/fb/user/@episode.Author!.Id">@episode.Author.Author</a> on <DateDisplay Date="episode.Date" />
        @if (episode.Editor is not null)
        {
            <br/><text>Episode last modified by <a href="/fb/user/@episode.Editor.Id">@episode.Editor.Author</a> on <DateDisplay Date="episode.Editdate" /></text>
        }
    </p>
    
    <p>
        @episode.Viewcount hits, 
        @episode.Fbepisodeviews.Count() views,
        @episode.Fbupvotes.Count() upvotes.
    </p>
    
    <p>
        <TagListDisplay Tags="episode.Fbepisodetags.Select(e => e.Tag)" />
    </p>
    
    <p>
        <a href="@(episode.ParentGeneratedid != null ? $"/fb/story/{episode.ParentGeneratedid}" : "/fb")">Return to Parent Episode</a><br/>
        <a href="@($"{HttpContext.GetPathWithQuery()}#children")">Jump to child episodes</a><br/>
        <a href="@($"{HttpContext.GetPathWithQuery()}#comments")">Jump to comments</a><br/>
    </p>
    
    <AuthorizeView>
        <Authorized>
            <p>
                @if (HttpContext.User.Username().Equals(episode.AuthorId))
                {
                    <a href="@($"/fb/modify/{episode.Generatedid}")">Modify your episode</a>
                }
                else if (HttpContext.User.IsMod())
                {
                    <a href="@($"/fb/modify/{episode.Generatedid}")">Modify as moderator</a>
                }
            </p>
        </Authorized>
    </AuthorizeView>
    
    <hr/>
    
    <div class="entry-content fbepisodebody fbrawmarkdown">@episode.Body</div>
    
    <hr/>
    
    <a id="children"></a>
    @if (episode.InverseParentGenerated.Count > 0)
    {
        <form method="GET">
            <select name="sort" id="sort" class="form-select my-3" style="width:auto;" value="@($"/fb/story/{GeneratedId}?sort={sortModel.ChildSort.GetDisplayShortName()}")" onchange="window.location = this.value">
                @foreach (var childSort in EnumExtensions.GetAllValues<ChildSort>())
                {
                    <option value="@($"/fb/story/{GeneratedId}?sort={childSort.GetDisplayShortName()}")">@childSort.GetDisplayName()</option>
                }
            </select>
        </form>
        <AuthorizeView>
            <Authorized>
                <a class="btn btn-primary" href="/fb/add/@GeneratedId">Add a new episode</a>
            </Authorized>
        </AuthorizeView>
        @foreach (var child in episode.InverseParentGenerated)
        {
            <p>
                <EpisodeLink Episode="child" />
                (@child.Childcount)
                <TagListDisplay Tags="child.Fbepisodetags.Select(e => e.Tag)"/>
            </p>
        }

        if (episode.InverseParentGenerated.Count() > 1)
        {
            <AuthorizeView>
                <Authorized>
                    <a class="btn btn-primary" href="/fb/add/@GeneratedId">Add a new episode</a>
                </Authorized>
            </AuthorizeView>
        }
        
        <hr/>
    }

    <a id="comments"></a>
    @foreach (var comment in episode.Fbcomments)
    {
        <CommentDisplay Comment="comment" ShowAuthor="true" />
    }
    
    <SectionContent SectionName="@Names.AdditionalSidebar">
        <SidebarSection Title="Path">
            @foreach (var ep in pathbox)
            {
                <p>@(ep.Newmap.Split('B').Length). <EpisodeLink Episode="ep" /></p>
            }
        </SidebarSection>
    </SectionContent>
}

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [Parameter]
    public long GeneratedId { get; init; }

    [SupplyParameterFromQuery]
    public string? Sort { get; init; }
    
    private class ChildSortModel
    {
        [Required] public ChildSort ChildSort { get; set; } = ChildSort.OldestFirst;
    }

    [SupplyParameterFromForm] private ChildSortModel sortModel { get; set; } = new();
    
    private Fbepisode? episode;

    private List<Fbepisode?> pathbox;
    
    private const string SortCookieName = "fbchildsort";
    
    protected override void OnInitialized()
    {
        base.OnInitialized();

        using var db = DbContextFactory.CreateDbContext();
        
        // if Sort query-param is set, set cookie and redirect
        if (!string.IsNullOrWhiteSpace(Sort))
        {
            var childSort = ChildSortHelper.GetFromShortName(Sort);
            HttpContext.Response.Cookies.Append(SortCookieName, childSort.GetDisplayShortName());
            NavMan.NavigateTo($"/fb/story/{GeneratedId}#children");
            return;
        }
        
        var cookie = HttpContext.Request.Cookies[SortCookieName];
        if (!string.IsNullOrWhiteSpace(cookie))
            sortModel.ChildSort = ChildSortHelper.GetFromShortName(cookie);

        Func<IQueryable<Fbepisode>, IOrderedQueryable<Fbepisode>> orderBy = sortModel.ChildSort switch
        {
            ChildSort.ChildrenAscending =>  query => query.OrderBy(e => e.Childcount),
            ChildSort.ChildrenDescending =>  query => query.OrderByDescending(e => e.Childcount),
            ChildSort.Random => query => query.OrderBy(e => Guid.NewGuid().ToString()),
            ChildSort.NewestFirst => query => query.OrderByDescending(e => e.Date),
            _ => query => query.OrderBy(e => e.Date),
        }; 
        
        episode = db.Fbepisodes
            .Include(e => e.Author)
            .Include(e => e.Editor)
            .Include(e => e.Fbcomments)
                .ThenInclude(e => e.User)
            .Include(e => e.Fbepisodetags.OrderBy(e => e.Tag.Shortname))
                .ThenInclude(e => e.Tag)
            .Include(e => e.Fbepisodeviews)
            .Include(e => e.Fbupvotes)
            .AsSplitQuery()
            .FirstOrDefault(e => e.Generatedid == GeneratedId);

        if (episode is null)
            return; // 404

        episode.InverseParentGenerated = orderBy(db.Fbepisodes
            .Where(e => e.ParentGeneratedid == GeneratedId))
            .Include(e => e.Fbepisodetags.OrderBy(e => e.Tag.Shortname))
                .ThenInclude(e => e.Tag)
            .ToList();

        var path = episode.Newmap.Substring(1).Split('B').Select(long.Parse).ToList();
        if (path.Count > 20)
            path.RemoveRange(0, path.Count - 20);

        pathbox = db.Fbepisodes.Where(e => path.Contains(e.Generatedid)).OrderByDescending(e => e.Generatedid).ToList();
    }
}