@page "/fb/story/{GeneratedId:long}"

@inject NavigationManager NavMan
@inject IDbContextFactory<ApplicationDbContext> DbContextFactory

@if (episode is null)
{
    <NotFound Item="@GeneratedId.ToString()" />
}
else
{
    <PageTitle>@episode.Title</PageTitle>
    <h1>@episode.Title</h1>
    
    <p>
        <UserLink User="episode.Author" /> on <DateDisplay Date="episode.Date"/>
        @if (episode.Editor is not null)
        {
            <br/>
            <text>Episode last modified by <UserLink User="episode.Editor"/> on <DateDisplay Date="episode.Editdate"/></text>
        }
    </p>
    
    <p>
        @episode.Viewcount hits, 
        @views views,
        @upvotes upvotes.
    </p>
    
    <p>
        <TagListDisplay Tags="episode.Fbepisodetags.Select(e => e.Tag)" />
    </p>
    
    <p>
        <a href="@(episode.ParentGeneratedid != null ? $"/fb/story/{episode.ParentGeneratedid}" : "/fb")">Return to Parent Episode</a><br/>
        <a href="@($"{HttpContext.GetPathWithQuery()}#children")">Jump to child episodes</a><br/>
        <a href="@($"{HttpContext.GetPathWithQuery()}#comments")">Jump to comments</a><br/>
    </p>
    
    @if (HttpContext.User.IsLoggedIn())
    {
        @if (HttpContext.User.Username().Equals(episode.AuthorId))
        {
            <p><a href="@($"/fb/modify/{GeneratedId}")">Modify your episode</a></p>
        }
        else if (HttpContext.User.IsMod())
        {
            <p><a href="@($"/fb/modify/{GeneratedId}")">Modify as moderator</a></p>
        }
        <a href="@($"{HttpContext.Request.Path}?vote={(hasUpvoted ? "false" : "true")}")" class="btn btn-primary">
            @if (hasUpvoted)
            {
                <i class="bi bi-ban"></i><text> Undo upvote</text>
            }
            else
            {
                <i class="bi bi-hand-thumbs-up"></i><text> Upvote this episode</text>
            }
        </a>
    }
    
    <hr/>
    
    <div class="entry-content fbepisodebody fbrawmarkdown">@episode.Body</div>
    
    <hr/>
    
    <a id="children" style="position: absolute; left: -9999px; width: 1px; height: 1px;"></a>
    @if (episode.InverseParentGenerated.Count > 0)
    {
        <form method="GET">
            <select name="sort" id="sort" class="form-select my-3" style="width:auto;" value="@($"/fb/story/{GeneratedId}?sort={sortModel.ChildSort.GetDisplayShortName()}")" onchange="window.location = this.value">
                @foreach (var childSort in EnumExtensions.GetAllValues<ChildSort>())
                {
                    <option value="@($"/fb/story/{GeneratedId}?sort={childSort.GetDisplayShortName()}")">@childSort.GetDisplayName()</option>
                }
            </select>
        </form>
        @if (HttpContext.User.IsLoggedIn())
        {
            <a class="btn btn-primary" href="/fb/add/@GeneratedId">Add a new episode</a>
        }
        @foreach (var child in episode.InverseParentGenerated)
        {
            <p>
                <EpisodeLink Episode="child" />
                (@child.Childcount)
                <TagListDisplay Tags="child.Fbepisodetags.Select(e => e.Tag)"/>
            </p>
        }

        if (episode.InverseParentGenerated.Count() > 1)
        {
            @if (HttpContext.User.IsLoggedIn())
            {
                <a class="btn btn-primary" href="/fb/add/@GeneratedId">Add a new episode</a>
            }
        }
        
        <hr/>
    }

    <a id="comments" style="position: absolute; left: -9999px; width: 1px; height: 1px;"></a>
    
    @foreach (var comment in episode.Fbcomments)
    {
        <CommentDisplay Comment="comment" ShowAuthor="true" />
    }
    
    <SectionContent SectionName="@Names.AdditionalSidebar">
        <SidebarSection Title="Path">
            @foreach (var ep in pathbox)
            {
                <p>@(ep.Newmap.Split('B').Length). <EpisodeLink Episode="ep" /></p>
            }
        </SidebarSection>
    </SectionContent>
}

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [Parameter]
    public long GeneratedId { get; init; }

    [SupplyParameterFromQuery]
    public string? Sort { get; init; }

    [SupplyParameterFromQuery]
    public string? Vote { get; init; }

    private class ChildSortModel
    {
        [Required] public ChildSort ChildSort { get; set; } = ChildSort.OldestFirst;
    }

    [SupplyParameterFromForm] private ChildSortModel sortModel { get; set; } = new();
    
    private Fbepisode? episode;

    private List<Fbepisode?> pathbox;

    private bool hasUpvoted = false;

    private int views, upvotes;
    
    private const string SortCookieName = "fbchildsort";
    
    protected override void OnInitialized()
    {
        base.OnInitialized();

        using var db = DbContextFactory.CreateDbContext();
        
        // if Sort query-param is set, set cookie and reload
        if (!string.IsNullOrWhiteSpace(Sort))
        {
            var childSort = ChildSortHelper.GetFromShortName(Sort);
            HttpContext.Response.Cookies.Append(SortCookieName, childSort.GetDisplayShortName());
            NavMan.NavigateTo($"/fb/story/{GeneratedId}#children");
            return;
        }
        
        // if Vote query-param is set, handle vote and reload
        if (!string.IsNullOrWhiteSpace(Vote))
        {
            if (Vote.ToLower().StartsWith("true")) // add upvote
                db.Fbupvotes.Add(new Fbupvote
                {
                    UserId = HttpContext.User.Username(),
                    EpisodeGeneratedid = GeneratedId,
                    Date = DateTime.Now,
                });
            else
                db.Fbupvotes.Where(e => e.EpisodeGeneratedid == GeneratedId && e.UserId == HttpContext.User.Username()).ExecuteDelete();
            db.SaveChanges();
            NavMan.NavigateTo(HttpContext.Request.Path);
            return;
        }
        
        var cookie = HttpContext.Request.Cookies[SortCookieName];
        if (!string.IsNullOrWhiteSpace(cookie))
            sortModel.ChildSort = ChildSortHelper.GetFromShortName(cookie);

        Func<IQueryable<Fbepisode>, IOrderedQueryable<Fbepisode>> orderBy = sortModel.ChildSort switch
        {
            ChildSort.ChildrenAscending =>  query => query.OrderBy(e => e.Childcount),
            ChildSort.ChildrenDescending =>  query => query.OrderByDescending(e => e.Childcount),
            ChildSort.Random => query => query.OrderBy(e => Guid.NewGuid().ToString()),
            ChildSort.NewestFirst => query => query.OrderByDescending(e => e.Date),
            _ => query => query.OrderBy(e => e.Date),
        }; 
        
        episode = db.Fbepisodes
            .Include(e => e.Author)
            .Include(e => e.Editor)
            .Include(e => e.Fbcomments.OrderBy(e2 => e2.Date))
                .ThenInclude(e => e.User)
            .Include(e => e.Fbepisodetags.OrderBy(e => e.Tag.Shortname))
                .ThenInclude(e => e.Tag)
            .AsSplitQuery()
            .FirstOrDefault(e => e.Generatedid == GeneratedId);

        if (episode is null)
            return; // 404

        views = db.Fbepisodeviews.Count(e => e.EpisodeGeneratedid == GeneratedId); 
        upvotes = db.Fbupvotes.Count(e => e.EpisodeGeneratedid == GeneratedId);
        
        episode.InverseParentGenerated = orderBy(db.Fbepisodes
            .Where(e => e.ParentGeneratedid == GeneratedId))
            .Include(e => e.Fbepisodetags.OrderBy(e => e.Tag.Shortname))
                .ThenInclude(e => e.Tag)
            .ToList();

        var path = episode.Newmap.Substring(1).Split('B').Select(long.Parse).ToList();
        if (path.Count > 20)
            path.RemoveRange(0, path.Count - 20);

        pathbox = db.Fbepisodes.Where(e => path.Contains(e.Generatedid)).OrderByDescending(e => e.Generatedid).ToList();
        
        if (HttpContext.User.IsLoggedIn())
        {
            hasUpvoted = db.Fbupvotes.Any(e => e.EpisodeGeneratedid == GeneratedId && e.UserId == HttpContext.User.Username());
            if (!db.Fbepisodeviews.Any(e => e.EpisodeGeneratedid == GeneratedId && e.UserId == HttpContext.User.Username()))
            {
                db.Fbepisodeviews.Add(new Fbepisodeview
                {
                    UserId = HttpContext.User.Username(),
                    EpisodeGeneratedid = GeneratedId,
                    Date = DateTime.Now,
                });
                ++views;
            }
        }
        episode.Viewcount += 1;
        db.SaveChanges();
    }
}