@inject IHttpContextAccessor HttpContextAccessor

<a name="@($"comment{Comment.Id}")" class="mb-3" />
<div id="@($"comment{Comment.Id}")" class="alert alert-dark">
    @if (Comment.Modvoice)
    {
        <div class="alert alert-dark">
            <i class="bi bi-exclamation-circle-fill"></i>
            This comment is from a site Moderator
        </div>
    }
    <p>@Comment.Text</p>
    <hr/>
    @if (ShowAuthor)
    {
        <p><a href="@($"/fb/user/{Comment.User!.Id}")">@Comment.User.Author</a></p>
    }
    @if (ShowEpisode)
    {
        <p><a href="@($"/fb/story/{Comment.EpisodeGenerated!.Generatedid}")">@Comment.EpisodeGenerated.Link</a></p>
    }
    <p><a href="@($"{HttpContextAccessor?.HttpContext?.GetPathWithQuery()}#comment{Comment.Id}")">@Comment.Date</a></p>
</div>

@code {
    [Parameter, EditorRequired]
    public required Fbcomment Comment { get; init; }
    
    [Parameter] public bool ShowAuthor { get; init; } = false;
    [Parameter] public bool ShowEpisode { get; init; } = false;
}