
<div class="@ActualClassList">
    <span class="input-group-text" id="title-label-@Unique">@Label</span>
    @if (IsTextArea)
    {
        <InputTextArea class="@InputClass" @attributes="AdditionalAttributes"
                       Value="@Value" ValueChanged="ValueChanged" ValueExpression="ValueExpression"
                       aria-label="@Label"
                       aria-describedby="@(ShowValidationMessage ? $"described-by-{Unique}" : "")"/>
    }
    else
    {
        <InputText class="@InputClass" @attributes="AdditionalAttributes"
                   Value="@Value" ValueChanged="ValueChanged" ValueExpression="ValueExpression"
                   aria-label="@Label"
                   aria-describedby="@(ShowValidationMessage ? $"described-by-{Unique}" : "")"/>
    }
    @if (ShowValidationMessage)
    {
        <div id="described-by-@Unique" class="@FeedbackClass">
            @InvalidMessage
        </div>
    }
</div>
@code {
    [Parameter, EditorRequired] public required string Label { get; init; }
    [Parameter] public bool? IsValid { get; init; }
    [Parameter] public string InvalidMessage { get; init; } = "";

    [Parameter] public string? Value { get; init; }
    [Parameter] public EventCallback<string?> ValueChanged { get; init; }
    [Parameter] public Expression<Func<string?>>? ValueExpression { get; init; }
    
    public Expression<Func<string>>? For { get; set; }
    
    [Parameter] public string? ClassList { get; init; }

    [Parameter] public bool IsTextArea { get; init; } = false;
    
    // Captures *all other* InputText parameters
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private bool ShowValidationMessage => IsValid is not null && !string.IsNullOrWhiteSpace(InvalidMessage);
    
    private string Unique = Guid.NewGuid().ToString();

    private string ActualClassList { get; set; }

    private string InputClass => $"form-control {(!IsValid.HasValue ? "" : IsValid.Value ? "is-valid" : "is-invalid")}";
    private string FeedbackClass => (IsValid is not null) && (IsValid is false) ? "invalid-feedback" : "valid-feedback";

    protected override void OnInitialized()
    {
        base.OnInitialized();

        var classList = new HashSet<string>();
        if (!string.IsNullOrWhiteSpace(ClassList))
        {
            foreach (var c in ClassList.Trim().Split(' '))
            {
                classList.Add(c);
            }
        }
        classList.Add("input-group");
        ActualClassList = string.Join(' ', classList.ToList());

    }
}